@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
	--strFontSize:       20px;
	--strTextColor:      #ffffff;
	--strTitleColor:     #ffffff;;

	--strFuncLightColor: #ffffff;
	--strFuncShadeColor: #000000;
	--strLinkColor:      #0000FF;
	--strVLinkColor:     #0000CC;
	
	--strNavBarColor:    #0B9781;
	--strNavLightColor:  #0B9781;
	--strNavShadeColor:  #ffffff;
	--strNavTextColor:   #fafafa;
	
	--strExBGColor:      #0B9781;
}

.NavButton {
	border-style: solid;
	border-radius: 0.5em;
	padding: 0.5em;
	min-width: 3em;
    font-family: 'VT323';
	
	border-left-color: var(--strNavLightColor);

	border-top-color: var(--strNavLightColor);

	border-right-color: var(--strNavShadeColor);

	border-bottom-color: var(--strNavShadeColor); 

	background-color: var(--strNavBarColor);
    background-color: var(--strExBGColor);

	color: var(--strNavTextColor);

	border-width: 1pt;

	cursor: pointer;
		
	box-shadow: 0.1em 0.1em 0.1em var(--strNavShadeColor);

	margin-left: 50px;
}

.NavButton:active {
	box-shadow: none;
}

.NavButton:hover{
	zoom: 130%;
}



.game-board{
    width: 100%;
    height: 590px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#7fcae7, #73b6d1, rgb(247, 244, 244), #1cd40b);
}
.Voltar-Home{
    position: absolute;
    bottom: 520px;
    padding-left: 1000px;
    right: 10px;
    padding-right: -200px
    
}
.Reloading{
    position: absolute;
    bottom: 520px;
    padding-left: 1000px;
    right: 100px;
    padding-right: -200px
    
}
.Home-p{
    position: absolute;
    right: 30px;
    bottom: 10px;
    padding-left: 800px;

}

.pipe{
    position: absolute;
    width: 80px;
    bottom: 37px;
    animation: pipe-animation 2s infinite linear;
}


.Mario{
    width: 150px;
    position: absolute;
    bottom: 35px;
}
.jump{
    animation: jump 500ms  ease-out; 

}

.clouds{
    position: absolute;
    width: 450px;
    bottom: 400px;
    animation: clouds-animation-1 20s infinite linear;

}

@keyframes clouds-animation-1 {
    from{
        right: -480px;
    }
    to{
        right: 100%;
    }
}
@keyframes jump{
    0% {
        bottom: 30;
    }
    40%{
        botttom: 200px
    }
    50% {
        bottom: 200px;
    }

    60%{
        bottom: 200px;  
    }
    
    100% {
        bottom: 30;
    }
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

